.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; 
    color: black; 
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h1 {
    font-size: 35px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    letter-spacing: -1px;
  }
  
  .login-form h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    letter-spacing: -1px;
  }
  
  .login-form input {
    min-width: 380px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    font-size: 15px;
    background-color: white; 
    color: black;
  }
  
  .button {
    padding: 17px 30px;
    margin-top: 10px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    font-size: 20px;
  }
  
  .button:hover {
    background: #333;
  }
  
  .login-form p{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }